/*
Generic Dashlet Stuff
*/
ul.dashlet {
    padding: 0px;
    min-height: 300px;
}
ul.dashlet li {
    list-style: none;
    margin: 0px;
}
.dashlet h2 {
    cursor: move;
}
.dashlet span.controls {
    float: right;
    margin-top: -6px;
    cursor: default;
}
.dashlet span.controls img {
    cursor: pointer;
    opacity: 0.5;
}
.dashlet span.controls img:hover {
    opacity: 1;
}

/*
Standard Dashlet
*/
table.dashlet {
    width: 100%;
}
table.dashlet td {
    min-width: 20px;
}
.dashlet_tagitem {
    float: right;
    background:#b1becd;
    color: #fff;
    border: 1px solid #5568a5;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    margin: 2px;
    padding: 2px;
}
.dashlet_icon {
    float: left;
    height: 40px;
    width: 40px;
}
/*
Announce Dashlet
*/
.dashlet_announce {
    min-height: 50px;
    margin-bottom: 20px;
    border-bottom: 3px solid #f0f0f0;
}
.dashlet_title {
    color: #5568a5;
    
}
.dashlet_poster {
    color: #5568a5;
    
}
.dashlet_date {
    color: #8ea3d2;
    font-size: 10pt;
}
.dashlet_time {
    color: #8ea3d2;
    font-size: 10pt;
}
.dashlet_body {
  
}

/*
 * New Dashlet menu
 */
.newdashlets {
    position: absolute;
    background: rgb(180, 191, 204);
    background: rgba(180, 191, 204, 0.95);
    border: 1px solid #000000;
    color: #FFFFFF;
    padding: 8px;
}
.newdashlets ul {
    list-style: none;
    padding-left: 0px;
    margin-left: 0px;   
}
.newdashlets ul li {
    padding-left: 0px;
    margin-left: 0px;   
}
.newdashlets a {
    color: #FFFFFF;
}