/*
Main widget area (2columns)
*/
.columns {
    width: 100%;
    display: table;
}
.columns .col {
    display: table-cell;
    vertical-align: top;
    width: 50%;
    padding: 4px;
}
.columns ul.left {
}
.columns ul.right {
}
