/* Navigation Styles */
#navigation {
    background: rgb(100, 100, 112);
    background: rgba(100, 100, 112, 0.8);
    height: 36px;
    border-top: 1px solid #555;
    border-bottom: 1px solid #555;
}
#navigation ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

#navigation ul li {
    float: left;
    margin: 0;
    padding: 0;
    display: inline;
    height: 36px;
}

#navigation ul li a {
    padding: 12px 20px 8px 20px;
    text-transform:uppercase;
    color: #d7d6d6;
    font-weight: bold;
    font-size: 12px;
    text-decoration:none;
    display:block;
}

#navigation ul li a.active {
    background-color: #020202;
    color:#fff;
}

#navigation ul li:hover a, #navigation ul li.sfHover a, #navigation ul li a:hover {
    background: rgb(180, 191, 204);
    background: rgba(180, 191, 204, 0.8);
    color:#fff;
}

/* Submenu Level 1 */

#navigation ul li ul {
    position: absolute;
    width: 10em;
    left: -999em;
    z-index: 30;
}

#navigation ul li ul li a {
    width: 150px;
    text-decoration:none;
    display:block;
    padding:10px 20px;
    background-color:#fff ;
    border-radius-bottomright: 7px;
    -webkit-border-bottom-right-radius: 7px;
}
#navigation ul li ul li a:hover {
    background: rgb(180, 191, 204);
    background: rgba(180, 191, 204, 0.8);
    color: #516a88;
}

#navigation li:hover ul {
    left: auto;
}
