#navigation {
    height: auto;
}

#navigation ul li {
    float: none;
    height: 36px;
}

/* Submenu Level 1 */

#navigation ul li ul {
    float: right;
    position: relative;
    width: auto;
    left: auto;
    top: -31px;
    z-index: 30;
}
#navigation ul li ul li {
    float: left;
}
#navigation ul li ul li a {
    width: auto;
    height: 10px;
    padding:10px;
    font-size: 8pt;
    background: transparent;
    border-left: 1px solid #000;
    border-radius-bottomright: 0px;
    -webkit-border-bottom-right-radius: 0px;
}
#navigation ul li ul li a:hover {
    background: rgb(180, 191, 204);
    background: rgba(180, 191, 204, 0.8);
    color: #516a88;
}

#navigation li:hover ul {
    left: auto;
}
