input {
    background: #FFFFFF;
    border: 1px solid #000000;
    margin: 3px;
}

.post_area {
	position: relative;
}


.recipients {
    background: #FFFFFF;
    border: 1px solid #000000;
    margin: 3px;
}
.recipients #recipientsDisplay span {
    background: #d0d0e0;
    border: 1px solid #909090;
    border-radius: 3px;
    padding: 1px 5px;
}
.recipients input {
    border: 0;
    background: transparent;
    width: 250px;
}
#taglist {
}
#tagcloud {
    float: right;
	width: 300px;
	border: 1px solid #000;
	text-align: justify;
}
.post_wrap {
    margin-right: 310px;
}
