.post_item {
    position: relative;
    clear: both;
    min-height: 120px;
    padding-bottom: 30px;
}
.post_item p.meta {
    clear: left;
    position: relative;
    background: #d7d6d6;
    margin-top: 0px;
    border-top: 1px #777c8c solid;
    padding: 3px;
    min-height: 30px;
    -moz-border-radius-bottomleft: 5px;
    -moz-border-radius-bottomright: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
p.meta time {
    float: right;
}
p.meta .date {
    color: #6c7285;
}
p.meta .time {
    color: #222;
}

.post_item .entry {
    padding-bottom: 12px;
    color: #555;
}
.avatar {
    float: right;
    margin-left: 5px;
    margin-top: 2px;
    background: #fff;
    min-height: 40px;
    min-width: 40px;
    padding: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    border: 1px #c4cbe4 solid;
}
.userbox {
    float: right;
    background: #d7d6d6;
    border: 1px solid #5568a5;
    min-height: 30px;
    min-width: 180px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    padding: 3px;
}

.sig {
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: 0px;
    padding: 5px;
    border-top: 1px solid #777;
    font-style: italic;
    color: #777;    
}

span.tools {
    margin-right: 10px;
    width: 60px;
    float: left;
}

.unread p.meta {
    background: #be6547;
}
.unread .entry {
    font-weight: normal;
    color: #000;
}
