#logo {
    display: none;
}

#topbar {
    height: auto;
}
#topbar h1 {
    font-size: 16pt;
}

main {
    padding-bottom: 35px;
    margin-right: 5px;
    margin-left: 5px;
}
#widget {
    display: none;
}

.search {
    margin-top: 0px;
    margin-right: 0px;
    float: none;
}

#toolbar {
    position: relative;
    height: 40px;
}

#toolbar a {
    display: block;
    float: left;
}
