@font-face {
	font-family: 'HeavyDataRegular';
	src: local('☺'), url('fonts/heavy_data-webfont.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Ubuntu';
	src: local('☺'), url('fonts/Ubuntu-R.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

html, body {
	height: 100%;
}
	
body {
	background: rgb(0, 0, 0);
	background-image: url(images/back_lights_2.png);
	padding: 0px;
	margin: 0px;
	font-family: 'Ubuntu', sans-serif;
	font-size: 12px;
}
h1 {
    font-size: 16pt;
}
h2 {
    font-size: 14pt;
}
h3 {
    font-size: 12pt;
}

a {
	text-decoration: none;
	color: #5568a5;
}
a:hover {
	color: #5ad1eb;
}
img {
	border: 0px;
}
label {
	width: 120px;
	float: left;
}
#wrapper {
    min-height: 100%;
}

/*
 * Generic Classes
 */

.textbox {
    width: 100%;
}
.clear {
    clear: both;
}
.unread {
    font-weight:bold;
}
.bigtext {
    width: 100%;
    font-size: 1.5em;
}
.bigtext+label {
    font-size: 1.5em;
}
.hidden {
    visibility: hidden;
}

/*
 * Header
 */

#status {
	background: rgb(0, 0, 0);
	background: -moz-linear-gradient(top, rgba(0, 0, 0, 1), rgba(0,0,0, 1));
	background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 1)), to(rgba(0, 0, 0, 1)));
	margin: 0px;
	height: 30px;
	border-bottom: 1px #777c8c solid;
	color: #d7d6d6;
}
#status ul {
	float: right;	
}
#status ul li {
	float: left;
	padding-right: 15px;
	width: 80px;
}
#status ul li.long {
	float: left;
	padding-right: 15px;
	width: 200px;
}
#topbar {
	/* Fallback for web browsers that doesn't support RGBa */
	background: rgb(0, 0, 0);
	background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.9), rgba(100, 100, 112, 0.8));
	background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.9)), to(rgba(100, 100, 112, 0.8)));
	
	padding: 5px;
	height: 65px;
	color:#fff;
}
#topbar h1 {
	font-family: "HeavyDataRegular";
	color: #d7d6d6;
	font-size: 26pt;
	text-shadow: #7391f4 0px 0px 8px;
}
#topbar p {
	font-family: "HeavyDataRegular";
	color: #d7d6d6;
	font-size: 14pt;
	text-shadow: #7391f4 0px 0px 8px;
	margin: 0px;
}
#logo {
	float: left;
	margin: 4px;
	margin-left: 25px;
	margin-right: 15px;
}

.search {
    clear: right;
    margin-top: -10px;
    margin-right: 10px;
    float: right;
}
.search input {
    background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.9), rgba(100, 100, 112, 0.8));
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.9)), to(rgba(100, 100, 112, 0.8)));
    border: 1px solid #fff;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    font-size: 10pt;
    color: #bbb;
    text-shadow: #f00 0px 0px 2px;
    font-weight: bold;
}
.search .button {
    text-shadow: #00f 0px 0px 2px;
}

/*
 * Footer
 */

footer {
	height: 15px;
	margin-top: -35px;
	clear: both;
	color: #fff;
	text-align: center;
	padding: 9px;
	background: rgb(0, 0, 0);
	background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.85));
	background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.85)), to(rgba(0, 0, 0, 0.85)));
	border-top: 1px #777c8c solid;
}


/*
 * Login
 */
.login {
	font-size: 120%;
}
.entry {
	
}
.entry label {
	font-size: 120%;
}
.entry input {
	font-size: 140%;
	margin-bottom: 20px;
}
/*
Main area
*/
main {
	padding-bottom: 35px;
	margin-right: 300px;
	margin-left: 55px;
}
#widget {
    position: absolute;
	right: 10px;
	min-height: 500px;
	width: 300px;
}
#toolbar {
    position: absolute;
    left: 0px;
	padding: 5px;
	padding-top: 15px;
	padding-bottom: 30px;
	
}
#toolbar a {
	display:block;
	background: rgba(100, 100, 112, 0.8);
	border: 1px solid #555;
	border-radius: 8px;
	-webkit-border-radius: 8px;
	padding: 5px;
}
#toolbar img {
	opacity: 0.8;
	
}
#toolbar a:hover {
	border: 1px solid #fff;
	
}
#toolbar a:hover img{
	opacity:1;
}

/*
 white main box
*/
.box {
	background: rgb(240, 240, 240);
	background:rgba(240, 240, 240, 0.95);
	margin: 10px;
	border: 1px #5568a5 solid;
	padding: 8px 15px;
	border-radius: 8px;
	-webkit-border-radius: 8px;
}
.box h2 {
	color: #5568a5;
	border-bottom: 1px #5568a5 solid;
	margin-bottom: 5px;
}
.page {
}
/*
Black widget box
*/
#widget .box {
	background: rgb(0, 0, 0);
	background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.9), rgba(100, 100, 112, 0.9));
	background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.9)), to(rgba(100, 100, 112, 0.9)));
	color: #d7d6d6;
	margin: 10px;
	border: 1px #777c8c solid;
	padding: 8px;
	padding-left: 15px;
	border-radius: 8px;
	-webkit-border-radius: 8px;
}
#widget .box h2 {
	color: #d7d6d6;
	border-bottom: 1px #d7d6d6 solid;
	margin-bottom: 5px;
}
#widget .box a {
	color: #8ea3d2;
}
#widget .box a:hover {
	color: #b9d2ec;
}

/*
Communication
*/

.list {
	width: 100%;
}
.list th {
	padding: 5px;
	padding-left: 10px;
	font-size: 11pt;
	color: #5568a5;
}
.list td {
	padding: 5px;
	padding-left: 10px;
	
}
.list td.center {
	text-align: center;
}
.list td.short {
	width: 130px;
}
.list tr:nth-child(even) td {
	background: #d7d6d6;
}
.quote {
	background: rgba(180, 191, 204, 0.3);
	background-image: url("images/quot.png");
	background-repeat: no-repeat;
	background-position: 8px 8px;
	border: 1px solid #5568a5;
	padding: 3px;
    padding-top: 0px;
	padding-bottom: 14px;
	margin: 8px;
	max-width: 80%;
}
.quote:after {
	clear: left;	
}
.quote span.user {
    color: #000000;
    float: left;
    margin-top: -12px;
    padding-right: 16px;
    border: 1px solid #5568a5;
    background: rgb(180, 191, 204);
}

#taglist span, #tagcloud span {
	white-space: nowrap;
	background:#b1becd;
	color: #fff;
	border: 1px solid #5568a5;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	padding: 2px;
	margin: 2px;
	cursor: pointer;
	text-transform: capitalize;
	line-height: 28px;
	
}
#taglist span:hover, #tagcloud span:hover {
	color: #fff;
	background:#6388b6;
	
}
.pageflip {
	text-align: center;	
}

