.hiddenradio {
	visibility: hidden;
	position: absolute;
}
.pri_sel {
	width: 64px;
}
.pri {
	width: 16px;
	height: 16px;
	text-align: center;
	background: -moz-linear-gradient(top, rgba(220, 220, 231, .8), rgba(120,120,172, 1));
	background: -webkit-gradient(linear, left top, left bottom, from(rgba(128, 128, 255, .8)), to(rgba(0, 0, 128, 1)));
	color: #f00;
	vertical-align: middle;
	font-weight: bold;
}
.pri:hover {
	background: -moz-linear-gradient(top, rgba(0,0,128, 1), rgba(128, 128, 255, .8));
	background: -webkit-gradient(linear, left top, left bottom, to(rgba(0, 0, 128, 1)), from(rgba(128, 128, 255, .8)));
}
input[type="radio"]:checked+label.pri {
	background: -moz-linear-gradient(bottom, rgba(255, 128, 128, .8), rgba(128,0,0, 1));
	background: -webkit-gradient(linear, left bottom, left top, from(rgba(255, 128, 128, .8)), to(rgba(128, 0, 0, 1)));
	color: #7474e0;
}
input[type="radio"]:checked+label.pri:hover {
}
.pri_lo {
	border-left: 1px solid #000;
	border-top: 1px solid #000;
	border-bottom: 1px solid #000;
	border-right: 1px solid rgba(0,0,0,.2);
	-moz-border-radius-topleft: 8px;
	-moz-border-radius-bottomleft: 8px;
	border-top-left-radius: 8px;
	border-bottom-left-radius: 8px;
}
.pri_me {
	border-top: 1px solid #000;
	border-bottom: 1px solid #000;
}
.pri_hi {
	border-right: 1px solid #000;
	border-top: 1px solid #000;
	border-bottom: 1px solid #000;
	border-left: 1px solid rgba(0,0,0,.2);
	-moz-border-radius-topright: 8px;
	-moz-border-radius-bottomright: 8px;
	border-top-right-radius: 8px;
	border-bottom-right-radius: 8px;
}