/*
forum thread
*/
.post_title h2.title {
	border: 0px;
	color: #5568a5;
}
span.tools img {
	margin-right: 5px;
	border: 0px;
}
.threadicon {
	float: left;
	background: rgb(240, 240, 240);
	background:rgba(210, 210, 210, 0.95);
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	min-height: 20px;
	min-width: 20px;
	padding: 2px;
	margin-right: 8px;
}
.threadtype {
	margin-top: 5px;
}
.threaduser {
	float: right;
	background: #fff;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	border: 1px #c4cbe4 solid;
	min-height: 20px;
	min-width: 20px;
	padding: 3px;
}

/*thread tags*/
.threadtaglist {
	margin: 6px;
}
.threadtagitem {
	background:#b1becd;
	color: #fff;
	border: 1px solid #5568a5;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	margin: 2px;
	padding: 2px;
}

