<form class='search' action='/search' method='get'>
	<p>
		<input type='text' name='query' id='search' value='{$query|xml_format}'/>
		<input type='submit' value='{"Search"|loc}' class='button'/>
	</p>
</form>